/* Header (Title) Font Style */
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap');
/* Event Button Font Style */
@import url('https://fonts.googleapis.com/css2?family=Graduate&display=swap');
/* Loader Font Style */
@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  padding: 3px;
  background-color: black;
  color: #fff;
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  margin-left: 1px;
  margin-right: 1px;
  z-index: 100;
  border-radius: 5px;
}

.header h1 {
  font-size: 17px;
  padding: 0;
  margin: 1px;
  text-align: center;
  font-family: 'Cinzel Decorative', cursive;
}

.header a {
  text-decoration: none;
  color: #fff;
}

.wildfire-icon {
  font-size: 0.8rem;
  color: red;
}

.storm-icon {
  font-size: 1.3rem;
  color: blue;
}

.volcano-icon {
  font-size: 1.15rem;
  color: brown;
}

.iceberg-icon {
  font-size: 1.25rem;
  color: azure;
}

.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 75vh;
}

.loader img {
  width: 300px;
}

.loader h2 {
  margin-top: -100px;
  font-family: 'Bungee Inline', cursive;
}

.wildfires-button {
  position: absolute;
  top: 5px;
  left: 647px;
  border-radius: 8px;
  background-color: black;
  color: #fff;
  font-family: 'Graduate', cursive;
  text-align: center;
  width: 95px;
}

.storms-button {
  position: absolute;
  top: 5px;
  left: 752px;
  border-radius: 8px;
  background-color: black;
  color: #fff;
  font-family: 'Graduate', cursive;
  text-align: center;
  width: 95px;
}

.volcanoes-button {
  position: absolute;
  top: 5px;
  left: 857px;
  border-radius: 8px;
  background-color: black;
  color: #fff;
  font-family: 'Graduate', cursive;
  text-align: center;
  width: 95px;
}

.icebergs-button {
  position: absolute;
  top: 5px;
  left: 962px;
  border-radius: 8px;
  background-color: black;
  color: #fff;
  font-family: 'Graduate', cursive;
  text-align: center;
  width: 95px;
}
.nav-control {
  margin: 5px;
  width: 30px;
  position: relative;
}
.geolocate-control {
  margin: 5px;
  width: 30px;
  position: relative;
}

.fullscreen-control {
  margin: 5px;
  width: 30px;
  position: relative;
}

.scale-control {
  position: absolute;
  bottom: 1.5rem;
  left: 89.5rem;
  margin: 5px; 
}

.event-info {
  position: absolute;
  bottom: 60px;
  right: 10px;
  width: 200px;
  min-height: 80px;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 8px;
  font-size: 12px;
  color: #fff;
}

.event-info h2 {
  text-align: center;
}

.event-info ul {
  list-style-type: none;
  padding: 0;
}

.event-info li {
  padding: 5px 0;
}

.event-info a:link {
  color: aliceblue;
}

.event-info a:visited {
  color: grey;
}

